In [1]:
import requests

In [2]:
url = "https://v6.exchangerate-api.com/v6/1830f28334337bffcf62ff68/latest/USD"

headers = {
    "Authorization": "1830f28334337bffcf62ff68",  # Replace with your actual token
    "Content-Type": "application/json"  # Replace with appropriate headers
}

response = requests.get(url, headers=headers)

In [3]:
data = response.json()

print(data)

{'result': 'success', 'documentation': 'https://www.exchangerate-api.com/docs', 'terms_of_use': 'https://www.exchangerate-api.com/terms', 'time_last_update_unix': 1691107201, 'time_last_update_utc': 'Fri, 04 Aug 2023 00:00:01 +0000', 'time_next_update_unix': 1691193601, 'time_next_update_utc': 'Sat, 05 Aug 2023 00:00:01 +0000', 'base_code': 'USD', 'conversion_rates': {'USD': 1, 'AED': 3.6725, 'AFN': 85.3786, 'ALL': 94.4533, 'AMD': 386.1453, 'ANG': 1.79, 'AOA': 831.2009, 'ARS': 276.7507, 'AUD': 1.5272, 'AWG': 1.79, 'AZN': 1.7004, 'BAM': 1.7872, 'BBD': 2.0, 'BDT': 109.4174, 'BGN': 1.7874, 'BHD': 0.376, 'BIF': 2828.3304, 'BMD': 1.0, 'BND': 1.3417, 'BOB': 6.9265, 'BRL': 4.8482, 'BSD': 1.0, 'BTN': 82.8112, 'BWP': 13.4213, 'BYN': 2.8598, 'BZD': 2.0, 'CAD': 1.3357, 'CDF': 2388.0663, 'CHF': 0.8752, 'CLP': 848.0266, 'CNY': 7.1771, 'COP': 4042.8302, 'CRC': 544.7726, 'CUP': 24.0, 'CVE': 100.7581, 'CZK': 22.0407, 'DJF': 177.721, 'DKK': 6.8172, 'DOP': 56.3894, 'DZD': 135.7747, 'EGP': 30.8971, 'ERN': 15.0, 'ETB': 55.0273, 'EUR': 0.9138, 'FJD': 2.2149, 'FKP': 0.7873, 'FOK': 6.8172, 'GBP': 0.7873, 'GEL': 2.615, 'GGP': 0.7873, 'GHS': 11.2327, 'GIP': 0.7873, 'GMD': 62.7923, 'GNF': 8557.6156, 'GTQ': 7.8648, 'GYD': 209.1362, 'HKD': 7.807, 'HNL': 24.6074, 'HRK': 6.8849, 'HTG': 136.6562, 'HUF': 358.937, 'IDR': 15173.4384, 'ILS': 3.6819, 'IMP': 0.7873, 'INR': 82.8112, 'IQD': 1308.186, 'IRR': 42019.5419, 'ISK': 132.3669, 'JEP': 0.7873, 'JMD': 155.3155, 'JOD': 0.709, 'JPY': 142.6915, 'KES': 142.9802, 'KGS': 87.7651, 'KHR': 4143.6688, 'KID': 1.5277, 'KMF': 449.5511, 'KRW': 1300.0869, 'KWD': 0.3075, 'KYD': 0.8333, 'KZT': 445.0111, 'LAK': 19286.8758, 'LBP': 15000.0, 'LKR': 313.8255, 'LRD': 186.4741, 'LSL': 18.6889, 'LYD': 4.788, 'MAD': 9.8294, 'MDL': 17.7589, 'MGA': 4505.179, 'MKD': 56.0661, 'MMK': 2103.1631, 'MNT': 3455.7641, 'MOP': 8.0412, 'MRU': 38.6522, 'MUR': 45.0407, 'MVR': 15.4351, 'MWK': 1070.0405, 'MXN': 17.3166, 'MYR': 4.5563, 'MZN': 63.8626, 'NAD': 18.6889, 'NGN': 760.8952, 'NIO': 36.6046, 'NOK': 10.2702, 'NPR': 132.4978, 'NZD': 1.6448, 'OMR': 0.3845, 'PAB': 1.0, 'PEN': 3.647, 'PGK': 3.5972, 'PHP': 55.657, 'PKR': 285.7157, 'PLN': 4.0741, 'PYG': 7293.5232, 'QAR': 3.64, 'RON': 4.5184, 'RSD': 107.1549, 'RUB': 93.9792, 'RWF': 1204.4731, 'SAR': 3.75, 'SBD': 8.5056, 'SCR': 13.213, 'SDG': 542.8491, 'SEK': 10.7064, 'SGD': 1.3417, 'SHP': 0.7873, 'SLE': 21.2311, 'SLL': 21231.1017, 'SOS': 569.0809, 'SRD': 38.4867, 'SSP': 1000.3545, 'STN': 22.3877, 'SYP': 12985.5885, 'SZL': 18.6889, 'THB': 34.5876, 'TJS': 10.9095, 'TMT': 3.499, 'TND': 3.0874, 'TOP': 2.3388, 'TRY': 26.9904, 'TTD': 6.7611, 'TVD': 1.5277, 'TWD': 31.666, 'TZS': 2475.8738, 'UAH': 36.9254, 'UGX': 3614.1363, 'UYU': 37.5102, 'UZS': 11665.6996, 'VES': 30.1042, 'VND': 23743.0228, 'VUV': 119.8344, 'WST': 2.7391, 'XAF': 599.4015, 'XCD': 2.7, 'XDR': 0.7493, 'XOF': 599.4015, 'XPF': 109.0434, 'YER': 250.2264, 'ZAR': 18.6843, 'ZMW': 19.2039, 'ZWL': 4613.5774}}

In [4]:
import pandas as pd
df = pd.DataFrame(data)

In [5]:
df.head()

,result,documentation,terms_of_use,time_last_update_unix,time_last_update_utc,time_next_update_unix,time_next_update_utc,base_code,conversion_rates
AED,success,https://www.exchangerate-api.com/docs,https://www.exchangerate-api.com/terms,1691107201,"Fri, 04 Aug 2023 00:00:01 +0000",1691193601,"Sat, 05 Aug 2023 00:00:01 +0000",USD,3.6725
AFN,success,https://www.exchangerate-api.com/docs,https://www.exchangerate-api.com/terms,1691107201,"Fri, 04 Aug 2023 00:00:01 +0000",1691193601,"Sat, 05 Aug 2023 00:00:01 +0000",USD,85.3786
ALL,success,https://www.exchangerate-api.com/docs,https://www.exchangerate-api.com/terms,1691107201,"Fri, 04 Aug 2023 00:00:01 +0000",1691193601,"Sat, 05 Aug 2023 00:00:01 +0000",USD,94.4533
AMD,success,https://www.exchangerate-api.com/docs,https://www.exchangerate-api.com/terms,1691107201,"Fri, 04 Aug 2023 00:00:01 +0000",1691193601,"Sat, 05 Aug 2023 00:00:01 +0000",USD,386.1453
ANG,success,https://www.exchangerate-api.com/docs,https://www.exchangerate-api.com/terms,1691107201,"Fri, 04 Aug 2023 00:00:01 +0000",1691193601,"Sat, 05 Aug 2023 00:00:01 +0000",USD,1.7900

In [6]:
df.dtypes

result                    object
documentation             object
terms_of_use              object
time_last_update_unix      int64
time_last_update_utc      object
time_next_update_unix      int64
time_next_update_utc      object
base_code                 object
conversion_rates         float64
dtype: object

In [9]:
# Extract specific columns using indexing operator []
selected_columns = df[["base_code","conversion_rates"]]
print(selected_columns)

    base_code  conversion_rates
AED       USD            3.6725
AFN       USD           85.3786
ALL       USD           94.4533
AMD       USD          386.1453
ANG       USD            1.7900
..        ...               ...
XPF       USD          109.0434
YER       USD          250.2264
ZAR       USD           18.6843
ZMW       USD           19.2039
ZWL       USD         4613.5774

[162 rows x 2 columns]

In [10]:
#change datatypes to acceptable ones in the database
replacements = {
    'object' : 'varchar',
    'float64' : 'float',
    'int64' : 'varchar',
    'datetime64[ns]': 'timestamp',
    'bool' : 'varchar'
}
replacements

{'object': 'varchar',
 'float64': 'float',
 'int64': 'varchar',
 'datetime64[ns]': 'timestamp',
 'bool': 'varchar'}